# OSX
#
.DS_Store

# Node
#
node_modules
npm-debug.log*

# Next
#
.next
.contentlayer

# Application
#
# dist - track dist to allow installing from GH
out
worker
coverage

# Environments
#
.env.local
